imports:
    -
        resource: 'services/responder.yaml'
    -
        resource: 'services/scrapers.yaml'

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true       # Automatically injects dependencies in your services.
        autoconfigure: false # Automatically registers your services as commands, event subscribers, etc.
        public: false        # Allows optimizing the container by removing unused services; this also means
                             # fetching services directly from the container via $container->get() won't work.
                             # The best practice is to be explicit about your dependencies anyway.

    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    App\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']

    App\Command\:
        resource: '../src/Command'
        tags:
            - console.command

    App\Command\ScrapeCommand:
        arguments:
            - '@app.scrapers'
        tags:
            -
                name: console.command
                command: app:scrape

    App\Command\KiranicoFixWeaponNamesCommand:
        tags:
            -
                name: console.command
                command: app:kiranico:fix-weapon-names

    App\Command\KiranicoFixArmorNamesCommand:
        tags:
            -
                name: console.command
                command: app:kiranico:fix-armor-names

    App\Command\MigrateSlotAttributesCommand:
        tags:
            -
                name: console.command
                command: app:migrate:slot-attributes

    App\Command\MigrateResistAttributesCommand:
        tags:
            -
                name: console.command
                command: app:migrate:resist-attributes

    App\QueryDocument\ApiQueryManager:
        public: true
        arguments:
            - '@doctrine.orm.entity_manager'

    Aws\Sdk:
        arguments:
            -
                region: 'us-east-2'
                version: 'latest'