<p>
	Welcome to the contribution system for the MHWDB project.
</p>

<p>
	In order to finish your registration, please <a href="{{ activationUrl }}">click here</a>, or use the link below.
	You will be prompted to fill out a few more details in order to complete your account activation.
</p>

<p>
	<a href="{{ activationUrl }}">{{ activationUrl }}</a>
</p>